<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this tag, the sky will fall on your head -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ZURBemails</title>

<style>

/* -------------------------------------
        GLOBAL
------------------------------------- */
* {
    margin:0;
    padding:0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

img {
    max-width: 100%;
}
.collapse {
    margin:0;
    padding:0;
}
body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%!important;
    height: 100%;
    background-color: #a1acb9;
}
button:hover {
    background-color: #3393ff;
}


/* -------------------------------------
        ELEMENTS
------------------------------------- */
a { color: #2BA6CB;}

.btn {
    text-decoration:none;
    color: #FFF;
    background-color: #666;
    padding:10px 16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    cursor:pointer;
    display: inline-block;
}

p.callout {
    padding:15px;
    background-color:#ECF8FF;
    margin-bottom: 15px;
}
.callout a {
    font-weight:bold;
    color: #2BA6CB;
}

table.social {
/*     padding:15px; */
    background-color: #ebebeb;

}
.social .soc-btn {
    padding: 3px 7px;
    font-size:12px;
    margin-bottom:10px;
    text-decoration:none;
    color: #FFF;font-weight:bold;
    display:block;
    text-align:center;
}
a.fb { background-color: #3B5998!important; }
a.tw { background-color: #1daced!important; }
a.gp { background-color: #DB4A39!important; }
a.ms { background-color: #000!important; }

.sidebar .soc-btn {
    display:block;
    width:100%;
}

/* -------------------------------------
        HEADER
------------------------------------- */
table.head-wrap { width: 100%;}

.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left:0px;}


/* -------------------------------------
        BODY
------------------------------------- */
table.body-wrap { width: 100%;}


/* -------------------------------------
        FOOTER
------------------------------------- */
table.footer-wrap { width: 100%;    clear:both!important;
}
.footer-wrap .container td.content  p { border-top: 1px solid rgb(215,215,215); padding-top:15px;}
.footer-wrap .container td.content p {
    font-size:10px;
    font-weight: bold;

}


/* -------------------------------------
        TYPOGRAPHY
------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom:15px; color:#000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6f6f6f; line-height: 0; text-transform: none; }

h1 { font-weight:200; font-size: 44px;}
h2 { font-weight:200; font-size: 37px;}
h3 { font-weight:500; font-size: 27px;}
h4 { font-weight:500; font-size: 23px;}
h5 { font-weight:900; font-size: 17px;}
h6 { font-weight:900; font-size: 14px; text-transform: uppercase; color:#444;}

.collapse { margin:0!important;}

p, ul {
    margin-bottom: 10px;
    font-weight: normal;
    font-size:14px;
    line-height:1.6;
}
p.lead { font-size:17px; }
p.last { margin-bottom:0px;}

ul li {
    margin-left:5px;
    list-style-position: inside;
}

/* -------------------------------------
        SIDEBAR
------------------------------------- */
ul.sidebar {
    background:#ebebeb;
    display:block;
    list-style-type: none;
}
ul.sidebar li { display: block; margin:0;}
ul.sidebar li a {
    text-decoration:none;
    color: #666;
    padding:10px 16px;
/*     font-weight:bold; */
    margin-right:10px;
/*     text-align:center; */
    cursor:pointer;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #FFFFFF;
    display:block;
    margin:0;
}
ul.sidebar li a.last { border-bottom-width:0px;}
ul.sidebar li a h1,ul.sidebar li a h2,ul.sidebar li a h3,ul.sidebar li a h4,ul.sidebar li a h5,ul.sidebar li a h6,ul.sidebar li a p { margin-bottom:0!important;}



/* ---------------------------------------------------
        RESPONSIVENESS
        Nuke it from orbit. It's the only way to be sure.
------------------------------------------------------ */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
    display:block!important;
    max-width:600px!important;
    margin:0 auto!important; /* makes it centered */
    clear:both!important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
    padding:15px;
    max-width:800px;
    margin:0 auto;
    display:block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table { width: 100%; }


/* Odds and ends */
.column {
    width: 300px;
    float:left;
}
.column tr td { padding: 15px; }
.column-wrap {
    padding:0!important;
    margin:0 auto;
    max-width:600px!important;
}
.column table { width:100%;}
.social .column {
    width: 280px;
    min-width: 279px;
    float:left;
}

.col-sm-4 {
    position:relative;
    min-height:1px;
}

.col-sm-4 {
    -ms-flex:0 0 33.333333%;
    flex:0 0 33.333333%;
    max-width:33.333333%;
}

.col-sm-4 {float:left}

.col-sm-4{width:33.33333333%}

.center-column {
    height: 468px;
}

.right-column {
    float: right;
}

.row {
    margin-right:-15px;
    margin-left:-15px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
    background-color: #4CAF50; /* Green */
    border: 3px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-1 {border-radius: 50%;}

.button-2 {border-radius: 25px;}

.row:after {display:table;content:" "}

.row:before{display:table;content:" "}

.row:after{clear:both}

/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear { display: block; clear: both; }


/* -------------------------------------------
        PHONE
        For clients that support media queries.
        Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

    a[class="btn"] { display:block!important; margin-bottom:10px!important; background-image:none!important; margin-right:0!important;}

    div[class="column"] { width: auto!important; float:none!important;}

    table.social div[class="column"] {
        width:auto!important;
    }

    .mobile-buttons {
        margin: auto;
      position: relative;
      text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;

    }

}

@media only screen and (min-width: 601px) {

        .desktop-button1 {
            float: left;
        }

}

</style>

</head>

<body >

            <div class="content" style="background-color: white;">
            <table>
                <tr>
                    <td>

                        <img src="https://s3.amazonaws.com/email_template_images/Planet_Rent/Header.png">
                        <p class="lead"></p>




<style>
    /* 3 equal-width columns Layout Pattern CSS */
    @media only screen and (max-width: 599px) {
        td[class="pattern"] table { width: 100%; }
        td[class="pattern"] .col{
            width: 33%;
        }
    }
    @media only screen and (max-width: 500px) {
        td[class="pattern"] .col{
            width: 100%;
            display: block;
        }
        td[class="pattern"] .col-left,
        td[class="pattern"] .col-mid {
            margin-bottom: 20px;
        }
    }
</style>

<div style="padding-right: 10px;" class="desktop-button1 mobile-buttons">

<a href="https://www.planetrent.co.uk/" target="_blank"><button class="button-1 button" ><strong>SIGN UP<br> FOR <br> FREE </strong></button></a>

</div>

<p style="padding-bottom: 5px; font-size: 20px;"> Still managing your properties using spreadsheets or manually? No way to track offers and tenancies in real time? Then you need Planet Rent, the end to end application that lets you manage your all properties in one place.</p>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td class="pattern" width="600" align="center">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td class="col col-left" width="200" align="left" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="left">

                                                                                            <div style="padding-top: 10px; padding-bottom: 10px;">
                                                                                            <ul>
                                                                                                <p style="font-size: 20px;"><strong>PlanetRent allows you to:</strong></p>
                                                                                                <li style="padding-bottom: 10px; font-size: 19px;">See all your properties in one place </li>
                                                                                                <li style="padding-bottom: 10px; font-size: 19px">Manage the lettings process from offer through to move in </li>
                                                                                                <li style="padding-bottom: 10px; font-size: 19px">Automate the viewing process </li>
                                                                                                <li style="padding-bottom: 10px; font-size: 19px">Agree to an offer and create a new tenancy agreement in minutes</li>
                                                                                                <li style="padding-bottom: 10px; font-size: 19px">Electronically sign documents on your phone </li>
                                                                                                <li style="font-size: 20px">Collect rents by direct debit </li>
                                                                                            </ul>
                                                                                            </div>

                                                                                            <p style="font-size: 20px;">Planet Rent is built by Ringley, the multi-award winning property Management Company, with over twenty years of industry expertise.</p>
                                            </td>
                                        </tr>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="col col-mid" width="200" align="center" valign="top">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="left">
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td align="center">
                                                                                                <div style="height: 80%; width: 80%;">
                                                <img src="https://s3.amazonaws.com/email_template_images/Planet_Rent/New+Tracker.jpg">
                                                                                            </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

                        <div class="col-sm-12" style="padding-top: 10px;">

                    <h1 align="center"><strong>Start saving time and money NOW by clicking below!</strong></h1>
                            <div align="center" style="padding-bottom: 15px;">

                      <a href="https://www.planetrent.co.uk/" target="_blank"><button type="button" class="button button-2"><strong>REGISTER TODAY <br> FOR FREE</strong></button></a>

                            </div>

                    <div style="padding-bottom: 10px;" align="center">

                    <a href="https://en-gb.facebook.com/TheRingleyGroup/"><img src="https://s3.amazonaws.com/email_template_images/Planet_Rent/facebook-logo-button.png" style="padding-right: 30px;"></a>
                    <a href="https://uk.linkedin.com/company/the-ringley-group?trk=ppro_cprof"><img src="https://s3.amazonaws.com/email_template_images/Planet_Rent/linkedin.png" style="padding-right: 30px;"></a>
                    <a href="https://twitter.com/TheRingleyGroup"><img src="https://s3.amazonaws.com/email_template_images/Planet_Rent/twitter-logo-button.png"></a>

                  </div>

                  </div>

</body>
</html>
